{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="/static/login.js"></script>
</head>
<body>
<script>
    document.body.addEventListener('click', (event) => {
        return;
        let el = document.body.getElementsByClassName('modal is-active');

        if (el.length === 0) {
            return;
        }
        el[0].classList.remove('is-active');
    }, true);

    let token = "";

    function isLoggedIn() {

    }
</script>
<nav>
    <div class="section has-background-primary">
        <div class="columns">
            <div class="column">
                
                <div class="hero-body">

                            <p class="title">
                                <img src="{% static 'QuestMaster.png' %}" style="width: 50%; height: 50%"/>
                            </p>
                            <p class="subtitle">
                                Complete A Quest, Get A $DESO Bounty. {{form.questName}}
                            </p>

                </div>
            </div>
            <div class="column is-align-content-right">
                <button class="button" onclick="login();">Login</button>
            </div>
            <button class="button is-info"
                                onclick="document.getElementById('makequest').classList.add('is-active');">Post a Quest
                        </button>
            <div class="modal" id="makequest">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <form action="" method='post'> {% csrf_token %}


                                            <input class="input is-primary" id="questName" type="text" name="questName" placeholder="What is the name of your quest?">
                                            <input class="input is-primary" id="questSummary" type="text" name="questSummary" placeholder="Summarise your quest...">
                                            <input class="input is-primary" id="questDesc" type="text" name="questDesc" placeholder="Give a detailed description of your quest">
                                            <input class="input is-primary" id="questBounty" type="text" name="questBounty" placeholder="How much is the bounty for your quest (in $DESO)">
                                            <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                                            
                                            
                                            <input class="button is-primary" type="submit" value="OK">
                                        </form>

                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="media-right">
                                <button class="delete"
                                        onclick="document.getElementsByClassName('modal is-active')[0].classList.remove('is-active');"></button>
                            </div>
                        </article>
                    </div>
                    <!-- Any other Bulma elements you want -->
                </div>
            </div>

        </div>
    </div>
    </section>

    <section class="section">
        {% for i in quests %}
        <div class="box">
            <nav class="level">
                <div class="level-left">
                    <div class="content">
                        <p><strong>{{ i.title }}</strong> <small>@{{ i.user }}</small> <small>{{ i.timeAgo }}</small>
                        </p>
                        <br>
                        <p>{{ i.description }}</p>


                        <button class="button is-info"
                                onclick="document.getElementById('{{ i.title }}').classList.add('is-active');">Get More
                            Info
                        </button>
                        <button class="button">Complete Quest</button>
                    </div>
                </div>
                <div class="level-right">
                    <button class="button is-primary">{{ i.bounty }} $DESO</button>
                </div>
            </nav>
            <div class="modal" id="{{i.title}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>John Smith</strong> <small>@{{i.user}}</small> <small>{{i.timeAgo}}</small>
                                        <br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna
                                        eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam
                                        finibus odio quis feugiat facilisis.
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="media-right">
                                <button class="delete"
                                        onclick="document.getElementsByClassName('modal is-active')[0].classList.remove('is-active');"></button>
                            </div>
                        </article>
                    </div>
                    <!-- Any other Bulma elements you want -->
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>
